* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.zoom {
    position: relative;
    overflow: hidden;
}

/* CSS for the image */
.imgchinh {
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease;
}

/* CSS for the zoom effect when the user hovers over the image */


.imgphu {
    height: 100px;
    width: 100px;
    margin-left: 7px;
}
.container1 {
    height: 500px;
    width: auto;
}
.container2 {
    height: 200px;
    width: auto;
}
.imgdtproduct{
    width: 250px;
    height: 300px;
    transition: transform 0.3s ease;
}
.imgproductt{
    width: 100px;
    height: 100px;
}
.imgcontainer{
    overflow: hidden;
}
.zoom:hover .imgdtproduct {
    transform: scale(1.5);
}
.imggiohang{
    height: 70px;
    width: 70px;
}
.tablegiohang{
    margin-top: 10px;
}

@keyframes slideInFormLeft {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slideInFormRight {
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideInFormUnder {
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateX(0);
    }
}
.animated-slide-left {
    animation: slideInFormLeft 1s forwards; /* 1s là thời gian của hiệu ứng */
}
.animated-slide-right {
    animation: slideInFormRight 1s forwards; /* 1s là thời gian của hiệu ứng */
}
.animated-slide-under {
    animation: slideInFormUnder 1s forwards; /* 1s là thời gian của hiệu ứng */
}


