* {
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
}
body {
    padding-top: 100px;
}
Header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul {
    display: flex;
    justify-content: center;
    li {
        list-style: none;
    }
}
a {
    text-decoration: none;
    color: darkgray;
}
.namethuonghieu {
    margin-top: 10px;
    color: white;
}
/* Header */
.titlename {
    margin-top: 15px;
    color: white;
}
.linkhd {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
/* Header */

.linktitle {
    color: black;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
}
.heighttitle {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.item {
    width: 100%;
    height: auto;
}
.titletrendinghome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pxecxec {
    margin-top: -10px;
}
.ptitle {
    margin-top: -10px;
}

.card {
    height: 400px;
    width: 250px;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button {
    height: 30px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: red;
}
.giatien {
    color: red;
}
.button:hover {
    background-color: green;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: auto;
}
.minimap {
    height: 250px;
    width: 350px;
}
.borderright {
    border-right: 1px solid #ccc;
}

.card {
    overflow: hidden;
}
/* CSS for the image container */
.img-container {
    overflow: hidden;
}
/* CSS for the image */
.imgchinhsp {
    width: 250px;
    height: 200px;
    transition: transform 0.3s ease;
}

/* CSS for the zoom effect when the user hovers over the image */
.zoom-card:hover .imgchinhsp {
    transform: scale(1.5); /* Adjust the scale factor as per your requirement */
}

.logo {
    height: 100px;
}
.marginheadercenter {
    margin-left: 100px;
}
.phantimkiem {
    display: flex;
}
.inputtk {
    width: 150px;
}
.iconshopping {
    margin-top: 10px;
}

@keyframes slideInImgBanner {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInProduct {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInTitle {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateY(0);
    }
}
.animated-slide-banner {
    animation: slideInImgBanner 1s forwards; /* 1s là thời gian của hiệu ứng */
}
.animated-slide-product {
    animation: slideInProduct 1s forwards; /* 1s là thời gian của hiệu ứng */
}
.animated-slide-title {
    animation: slideInTitle 1s forwards; /* 1s là thời gian của hiệu ứng */
}

.canhsanphamtrangchu {
    margin-left: -8px;
}
.custom-icon {
    font-size: 24px; /* Thay 24px bằng kích thước bạn muốn */
}
.cardreview {
    height: 200px;
    width: 300px;
    border: 1px solid;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemcardreview {
    text-align: center;
}
